In [2]:
import pandas as pd

In [3]:
df_interactions = pd.read_csv('../data/interactions.csv')

In [4]:
df_interactions.head()

,user_id,recipe_id,rating,review,date
0,aaec1c28eee84b04bc5bafb0,59ebd500-5b7e-4170-8566-4d4ecedd2919,4,Great with a salad. Cooked on top of stove for...,2003-02-17
1,aaec1c28eee84b04bc5bafb0,da7576d3-0024-441e-82dc-bd31926fcaba,5,I thought this was wonderful. I like every in...,2002-06-10
2,aaec1c28eee84b04bc5bafb0,0115d2eb-9954-4634-bcec-9c65200c1137,5,This was fine! Two other people have made it ...,2003-12-08
3,aaec1c28eee84b04bc5bafb0,0ea132b7-4465-49ce-8a6b-1d7ac3d94fb0,5,Have to say I gravitate to Dancer's recipes - ...,2002-07-18
4,aaec1c28eee84b04bc5bafb0,4704edb7-fe6d-4c70-89e5-4389147b5de7,5,Just wanted to let you know I fixed this for m...,2003-09-01

In [19]:
df_interactions_count_by_user_id = df_interactions \
  .groupby(by=['user_id']) \
  .count()['recipe_id'] \
  .reset_index() \
  .sort_values(by=['recipe_id'], ascending=False) \
  .reset_index() \
  .head(10)

In [20]:
df_interactions_count_by_user_id

    index                   user_id  recipe_id
0   84420  6043f4dcb8458600693a374d       7665
1  178441  cb75fcf8511e495f84088d67       5587
2   85651  61b19ce00265408e90f00ff1       4621
3   29352  217fafc0c55a469d8c9db938       4073
4  123195  8cad7584ce2d4915a8501cc0       3912
5   66752  4c05437200ee4c72a8b87e8a       3346
6   67894  4d506f1bab294bf8b0b1e1e0       3286
7  130526  94fb03af3a3a486a9330f736       3105
8  191512  da508cd928924cbaa0f5e540       3014
9  152894  ae99544697e74e8d9f70ae49       2890

In [33]:
df_revised_interactions = df_interactions.copy()
df_revised_interactions = df_revised_interactions \
  .replace(to_replace=['6043f4dcb8458600693a374d'], value='6043f4dcb8458600693a374d') \
  .replace(to_replace=['cb75fcf8511e495f84088d67'], value='60cbbe3bed6fcb006949d796') \
  .replace(to_replace=['61b19ce00265408e90f00ff1'], value='60cbbe00348edc006a22c826') \
  .replace(to_replace=['217fafc0c55a469d8c9db938'], value='60cbbdb8ed6fcb006949d771') \
  .replace(to_replace=['8cad7584ce2d4915a8501cc0'], value='60cbbd7c7f82d100681b3386') \
  .replace(to_replace=['4c05437200ee4c72a8b87e8a'], value='60cbbd3fd2fc940071e41a2e') \
  .replace(to_replace=['4d506f1bab294bf8b0b1e1e0'], value='60cbbd04348edc006a22c7ce') \
  .replace(to_replace=['94fb03af3a3a486a9330f736'], value='60cbbcd3348edc006a22c7b6') \
  .replace(to_replace=['da508cd928924cbaa0f5e540'], value='60cbbc6c348edc006a22c794') \
  .replace(to_replace=['ae99544697e74e8d9f70ae49'], value='60c90b265d89a500699d0111')

In [34]:
df_revised_interactions_count_by_user_id = df_revised_interactions \
  .groupby(by=['user_id']) \
  .count()['recipe_id'] \
  .reset_index() \
  .sort_values(by=['recipe_id'], ascending=False) \
  .reset_index() \
  .head(10)

In [35]:
df_revised_interactions_count_by_user_id.head(10)

   index                   user_id  recipe_id
0  84417  6043f4dcb8458600693a374d       7665
1  84881  60cbbe3bed6fcb006949d796       5587
2  84880  60cbbe00348edc006a22c826       4621
3  84879  60cbbdb8ed6fcb006949d771       4073
4  84878  60cbbd7c7f82d100681b3386       3912
5  84877  60cbbd3fd2fc940071e41a2e       3346
6  84876  60cbbd04348edc006a22c7ce       3286
7  84875  60cbbcd3348edc006a22c7b6       3105
8  84874  60cbbc6c348edc006a22c794       3014
9  84860  60c90b265d89a500699d0111       2890

In [36]:
df_revised_interactions.to_csv('../data/revised_interactions.csv', index=False)

In [40]:
df_revised_interactions[['user_id', 'recipe_id', 'rating']].to_csv('../data/ml_dotnet_interactions.csv', index=False)